<div class="bg-primary p-2 text-white" [class.bg-warning]="editing"
     [class.text-dark]="editing">
  <h5>{{editing ? 'Edit' : 'Create'}} Book</h5>
</div>
<form #form="ngForm" (ngSubmit)="save(form)" novalidate>
  <div class="form-group">
    <label>Genre</label>
    <input class="form-control" name="genre" [(ngModel)]="book.genre">
  </div>
  <div class="form-group">
    <label>Author</label>
    <input class="form-control" name="author" [(ngModel)]="book.author">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" [(ngModel)]="book.name">
  </div>
  <div class="form-group">
    <label>Stars</label>
    <input class="form-control" type="number" name="stars" [(ngModel)]="book.stars">
  </div>
  <div class="form-group">
    <label>Synopsis</label>
    <textarea class="form-control" name="synopsis" [(ngModel)]="book.synopsis">
    </textarea>
  </div>
  <div class="form-group">
  <label>Price</label>
  <input class="form-control" name="price" [(ngModel)]="book.price">
  </div>
  <div class="form-group">
    <label>Cover image Url</label>
    <input class="form-control" name="coverImage" [(ngModel)]="book.coverImage">
  </div>

  <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
    {{editing ? 'Save' : 'Create'}}
  </button>
  <button type="reset" class="btn btn-secondary" routerLink="/admin/main/books">
    Cancel
  </button>
</form>
